[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
tensorflow = "==2.10.0"
opencv-python = "*"
matplotlib = "*"
seaborn = "*"
plotly = "*"
dash = "*"
pandas = "*"
numpy = "*"
python-dotenv = "*"
tensorflow-hub = "*"
scikit-learn = "*"
loguru = "*"
prefect = "*"
wandb = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.5"
