[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
tqdm = "*"
opencv-python = "*"
python-dotenv = "*"
matplotlib = "*"
seaborn = "*"
plotly = "*"
wandb = "*"
prefect = "*"
mlflow = "*"
scikit-learn = "*"
loguru = "*"
tensorflow = "*"
tensorflow-io = "*"
transformers = "*"

[dev-packages]

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
